# Format options
--indent 2
--commas inline

--disable wrapMultilineStatementBraces
--wraparguments before-first
--wrapparameters before-first
--maxwidth 130
--disable wrapSingleLineComments
--voidtype void
--redundanttype inferred
--self remove

--enable spaceAroundBrackets,spaceAroundComments,spaceAroundGenerics,spaceAroundParens,spaceInsideBraces
--enable spaceInsideBrackets,spaceInsideComments,spaceInsideGenerics,spaceInsideParens,trailingclosures,trailingCommas
--enable wrapConditionalBodies, wrapEnumCases, wrapLoopBodies
--enable redundantLetError,redundantParens,redundantSelf,redundantReturn,redundantBreak
--enable duplicateImports

# File options
--exclude .build

# Swift Version
--swiftversion 5.8
