language: objective-c
os: osx
osx_image: xcode10.2
sudo: true
rvm:
  - 2.5.3
before_cache:
  - brew cleanup
  - rvm cleanup all
  - bundle clean
  - swift package clean
cache:
  bundler: true
  directories:
  - .build # Swift Package Manager
  - /Users/travis/.rvm/ # RVM
  - $HOME/Library/Caches/Homebrew # Brew

before_install:
  - gem update --system
  - gem install bundler

env:
  global:
  - TRAVIS_CI=TRUE
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

stages:
  - Verification

jobs:
  fast_finish: true
  include:
    - stage: Verification
      name: "iOS Tests (w/ Code Coverage)"
      before_install:
        - gem update --system
        - gem install bundler
        - brew update && brew install jq
        - curl -u ida-codacy-bot:$GITHUB_PAT -LSs $(curl -u ida-codacy-bot:$GITHUB_PAT -LSs https://api.github.com/repos/codacy/codacy-coverage-reporter/releases/latest | jq -r '.assets | map({content_type, browser_download_url} | select(.content_type | contains("java-archive"))) | .[0].browser_download_url') -o codacy-coverage-reporter-assembly.jar
      before_script:
        # https://developer.apple.com/documentation/xcode_release_notes/xcode_10_2_1_release_notes
        - sudo mkdir "/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 8.4.simruntime/Contents/Resources/RuntimeRoot/usr/lib/swift"
        - sudo mkdir "/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 9.3.simruntime/Contents/Resources/RuntimeRoot/usr/lib/swift"
      script: bundle exec fastlane test --env ios
      after_success:
        - bundle exec fastlane code_coverage --env ios
        - java -jar codacy-coverage-reporter-assembly.jar report -l swift -r fastlane/test_output/cobertura.xml
    - name: "macOS Tests"
      script: bundle exec fastlane test --env macos
    - name: "tvOS Tests"
      before_script:
        # https://developer.apple.com/documentation/xcode_release_notes/xcode_10_2_1_release_notes
        - sudo mkdir "/Library/Developer/CoreSimulator/Profiles/Runtimes/tvOS 9.2.simruntime/Contents/Resources/RuntimeRoot/usr/lib/swift"
      script: bundle exec fastlane test --env tvos
    - name: "Cocoapods"
      script: bundle exec pod lib lint --allow-warnings
    - name: "Swift Package Manager"
      script: swift build -c release
