language: objective-c
os: osx
osx_image: xcode10.2
sudo: true
rvm:
  - 2.5.3
before_cache:
  - brew cleanup
  - rvm cleanup all
  - bundle clean
  - swift package clean
cache:
  bundler: true
  directories:
  - .build # Swift Package Manager
  - /Users/travis/.rvm/ # RVM
  - $HOME/Library/Caches/Homebrew # Brew

before_install:
  - gem update --system
  - gem install bundler

env:
  global:
  - TRAVIS_CI=TRUE
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

stages:
  - "Verification"

jobs:
  fast_finish: true
  include:
    - stage: "Verification"
      name: "iOS Unit Tests (w/ Code Coverage Reporting)"
      before_script:
      # https://developer.apple.com/documentation/xcode_release_notes/xcode_10_2_1_release_notes
      - sudo mkdir -p "/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 8.4.simruntime/Contents/Resources/RuntimeRoot/usr/lib/swift"
      - sudo mkdir -p "/Library/Developer/CoreSimulator/Profiles/Runtimes/iOS 9.3.simruntime/Contents/Resources/RuntimeRoot/usr/lib/swift"
      script: bundle exec fastlane test --env ios
    - name: "macOS Unit Tests"
      script: bundle exec fastlane test --env macos
    - name: "tvOS Unit Tests"
      before_script:
      # https://developer.apple.com/documentation/xcode_release_notes/xcode_10_2_1_release_notes
      - sudo mkdir -p "/Library/Developer/CoreSimulator/Profiles/Runtimes/tvOS 9.2.simruntime/Contents/Resources/RuntimeRoot/usr/lib/swift"
      script: bundle exec fastlane test --env tvos
    - name: "Release Verification"
      script: bundle exec fastlane release_verification --env ios
